<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <analyticsExcludeRobots>
      <!--List of user agent strings that are used by search engines. Requests with following user agent strings will be 
      ignored by Analytics.
      See http://iplists.com/ for updates
      Use # for comments
      -->
      <excludedUserAgents>
        (Teradex Mapper; mapper@teradex.com; http://www.teradex.com)
        123metaspider-Bot (Version: 1.04, powered by www.123metaspider.com)
        2competebot (http://2compete.org/)
        AddThis.com (http://support.addthis.com/
        AdsBot-Google (+http://www.google.com/adsbot.html)
        AdsBot-Google-Mobile (+http://www.google.com/mobile/adsbot.html) Mozilla (iPhone; U; CPU iPhone OS 3 0 like Mac OS X) AppleWebKit (KHTML, like Gecko) Mobile Safari
        AESOP_com_SpiderMan
        aipbot/1.0 (aipbot; http://www.aipbot.com; aipbot@aipbot.com)
        Amfibibot/*
        ano-kato.com v2.14 spider
        AnswerBus (http://www.answerbus.com/)
        Apexoo Spider (http://www.apexoo.com/spider/)
        Apexoo Spider 1.0
        appie 1.1 (www.walhello.com)
        arachna_enginebot/v3.0[http://www.theenginerooms.com]
        asterias/2.0
        AtlocalBot/1.1 +(http://www.atlocal.com/local-web-site-owner.html)
        axadine/ (Axadine Crawler; http://www.axada.de/; )
        BaiDuSpider
        Baiduspider+(+http://www.baidu.com/search/spider.htm)
        Baiduspider+(+http://www.baidu.com/search/spider_jp.html)
        Baiduspider-image+(+http://www.baidu.com/search/spider.htm)
        BigCliqueBOT/1.03-dev (bigclicbot; http://www.bigclique.com; bot@bigclique.com)
        Bigsearch.ca/Nutch-0.9-dev (Bigsearch.ca Internet Spider; http://www.bigsearch.ca/; info@enhancededge.com)
        Bilbo
        BilgiBot/1.0(beta) (http://www.bilgi.com/; bilgi at bilgi dot com)
        bitlybot
        bitlybot/3.0 (+http://bit.ly/)
        Blackboard Safeassign/0.1 (a Storm-based Blackboard Safeassign web-crawler; https://github.com/DigitalPebble/storm-crawler; stormcrawler@digitalpebble.com)
        Blaiz-Bee/2.00.953 (+http://www.blaiz.net)
        Bloglines Title Fetch/1.0 (http://www.bloglines.com)
        boitho.com-dc/*
        boitho.com-robot/1.1
        BravoBrian SpiderEngine MarcoPolo
        BTbot/0.3 (+http://www.btbot.com/btbot.html)
        btbot/0.4 ( http://www.btbot.com/btbot.html)
        Bumblebee@relevare.com
        BurstFind Crawler 1.0/0.7.1 (Nutch; http://lucene.apache.org/nutch/bot.html; crawler@burstfind.com)
        BurstFindCrawler/1.1 (crawler.burstfind.com; http://crawler.burstfind.com; crawler@burstfind.com)
        Buzzbot/1.0 (Buzzbot; http://www.buzzstream.com; buzzbot@buzzstream.com)
        CCBot/2.0 (http://commoncrawl.org/faq/)
        cfetch/1.0
        CipinetBot (http://www.cipinet.com/bot.html)
        citenikbot/0.4 (albert; http://www.citenik.co.uk/bot.html)
        Clushbot/*
        compatible;Baiduspider/2.0; +http://www.baidu.com/search/spider.html
        ConveraCrawler/*
        cosmos/0.8)_(robot@xyleme.com)
        Cowbot-0.1 (NHN Corp. / 2-3011-1954 / nhnbot@naver.com)
        CrawlConvera0.1 CrawlConvera@yahoo.com
        crawler4j (http://code.google.com/p/crawler4j/)
        Crawlzilla/1.0 (Crawlzilla; http://www.crawlzilla.com; crawler@crawlzilla.com)
        CRAZYWEBCRAWLER 0.9.10, http://www.crazywebcrawler.com
        curl/7.9.1 (win32) libcurl 7.9.1
        CydralSpider/1.8 (Cydral Web Image Search; http://www.cydral.com)
        datagnionbot (+http://www.datagnion.com/bot.html)
        dbot/Nutch-2.3
        DeepIndex
        DeepIndex (www.deepindex.com)
        deNes bot/0.3
        DF Bot 1.0
        -DIE-KRAEHE- META-SEARCH-ENGINE/1.0 http://www.die-kraehe.com
        Digg Feed Fetcher 1.0 (Mozilla/5.0 (Macintosh; Intel Mac OS X 10_7_1) AppleWebKit/534.48.3 (KHTML, like Gecko) Version/5.1 Safari/534.48.3)
        DoCoMo/1.0/N505i/c20/TB/W20H10 (compatible; RFCrawler-Mobile/1.0;
        DoCoMo/1.0/N505i/c20/TB/W20H10+(compatible;+RFCrawler-Mobile/1.0;
        DoCoMo/2.0 N905i(c100;TB;W24H16) (compatible; Googlebot-Mobile/2.1; +http://www.google.com/bot.html)
        DoCoMo/2.0+SH901iC(c100;TB;W24H12)
        Domain Re-Animator Bot (http://domainreanimator.com) - support@domainreanimator.com
        DomainCrawler/*
        DomainStatsBot/1.0 (http://domainstats.io/our-bot)
        Drecombot/1.0 (http://career.drecom.jp/bot.html)
        dtSearchSpider
        Dumbot(version 0.1 beta - dumbfind.com)
        EasyDL/3.04 http://keywen.com/Encyclopedia/Bot
        EgotoBot/4.8 (+http://www.egoto.com/about.htm)
        EngineBot/3.0
        envolk/1.7 (+http://www.envolk.com/envolkspiderinfo.php)
        envolk[ITS]spider/1.6(+http://www.envolk.com/envolkspider.html)
        eseek-larbin_2.6.2 crawler@exactseek.com
        e-SocietyRobot(http://www.yama.info.waseda.ac.jp/~yamana/es/)
        Evaal/0.7.1 (Evaal; http://search.evaal.com/bot.html; bot@evaal.com)
        Exabot NG/MimeLive Client (convert/http/0.170)
        Exabot/2.0
        Exabot-Test/1.0
        exactseek.com
        ExactSeek_Spider
        exactseek-pagereaper-2.63 crawler@exactseek.com
        Exalead NG/MimeLive Client (convert/http/0.120)
        Experibot_v1
        Experibot_v1 [goo.gl/n6zrAf]
        facebookexternalhit/1.1
        facebookexternalhit/1.1 (+http://www.facebook.com/externalhit_uatext.php)
        Fast Crawler v X
        Fast Crawler v X(compatible; Konqueror/3.2; FreeBSD) (KHTML, like Gecko)
        FAST Data Search Document Retriever/4.0 04072100 2004-07-21 07:54:10 UTC
        FAST MetaWeb Crawler (helpdesk at fastsearch dot com)
        FastSearch Web Crawler for Verizon SuperPages (kevin.watters@fastsearch.com)
        Faxobot/1.0
        Feedfetcher-Google; (+http://www.google.com/feedfetcher.html; 1 subscribers; feed-id=15143911879117666541)
        Feedfetcher-Google; (+http://www.google.com/feedfetcher.html; feed-id=6087309937561098515)
        Feedfetcher-Google; (+http://www.google.com/feedfetcher.html; feed-id=8236890202534803103)
        Feedly/1.0 (+http://www.feedly.com/fetcher.html; like FeedFetcher-Google)
        FeedlyBot/1.0 (http://feedly.com)
        Filangy/1.01 (Filangy; http://www.filangy.com/filangyinfo.jsp?inc=robots.jsp; filangy-agent@filangy.com)
        finbot
        Firefly/1.0 (compatible; Mozilla 4.0; MSIE 5.5)
        Flamingo_SearchEngine (+http://www.flamingosearch.com/bot)
        FlickBot 2.0 RPT-HTTPClient/0.3-3
        flunky
        Foelock.co.uk Search MyGo R2-H6-3
        Foelock.co.uk Search MyGo Uknow 7
        ForwardSearch*
        Fred/*
        FreeFind/1.0 (spider@freefind.com)
        fscrawler/3.0 (www.e-dintorni.it;Windows NT 5.0)
        FyberSpider (+http://www.fybersearch.com/fyberspider.php)
        Gaisbot/3.0+(robot@gais.cs.ccu.edu.tw;+http://gais.cs.ccu.edu.tw/robot.php)
        GarlikCrawler/1.2 (http://garlik.com/, crawler@garlik.com)
        gazz/5.0 (gazz@nttr.co.jp)
        genieBot (http://64.5.245.11/faq/faq.html)
        genieBot wgao@genieknows.com
        Geobot/0.1 http://www.geobot.co.uk
        GeoBot/version 1.0
        GeonaBot 1.0; http://www.geona.com/
        GetintentCrawler getintent.com
        Gigabot/*
        GigabotSiteSearch/*
        GoForIt.com
        GOFORITBOT ( http://www.goforit.com/about/ )
        GoldenCanBot (http://www.GoldenCan.com/botinfo.aspx)
        Google favicon
        Google-Adwords-Instant (+http://www.google.com/adsbot.html)
        Googlebot
        Googlebot/*
        Googlebot-Image/1.0
        gsa-crawler (Enterprise; S4-E9LJ2B82FJJAA; me@mycompany.com)
        Gulper Web Bot 0.2.4 (www.ecsl.cs.sunysb.edu/~maxim/cgi-bin/Link/GulperBot)
        Helix/1.2 (+http://www.sitesearch.ca/helix/)
        HenryTheMiragoRobot
        HenryTheMiragoRobot (http://www.miragorobot.com/scripts/mrinfo.asp)
        holmes/3.8 (morfeo.centrum.cz/bot)
        holmes/3.9 (OnetSzukaj/5.0; +http://szukaj.onet.pl)
        Homerbot: www.homerweb.com
        Honda-Search/0.7.2 (Nutch; http://lucene.apache.org/nutch/bot.html; search@honda-search.com)
        http://www.almaden.ibm.com/cs/crawler
        http://www.picsearch.com/bot.html
        http://www.sygol.com
        i1searchbot/2.0 (i1search web crawler; http://www.i1search.com; crawler@i1search.com)
        ia_archiver
        ichiro/*
        IErachnid 3.0 http://uk.searchengineeurope.com
        iisbot/1.0 (+http://www.iis.net/iisbot.html)
        Iltrovatore-Setaccio/*
        IncyWincy data gatherer(webmaster@loopimprovements.com,http://www.loopimprovements.com/robot.html)
        InetSeekBot2005 (Version: 1.01, Powered by InetSeek.de)
        Infoseek SideWinder/2.0B (Linux 2.4 i686)
        Insitor.com, search and find world wide!
        Jetbot/1.0
        JOC Web Spider
        Justa a bot.. we are testing,so please ignore me /1.0
        Jyxobot/1
        KazoomBot/0.06-dev (Kazoom; http://www.kazoom.ca/bot.html; kazoombot@kazoom.ca)
        Know-Center Research Bot
        kulokobot www.kuloko.com kuloko@backweave.com
        kuloko-bot/0.2
        lanshanbot/1.0 ( http://search.msn.com/msnbot.htm)
        larbin
        larbin (or some variations on larbin)
        libwww-perl/5.45
        libwww-perl/5.47
        linguatools-bot/Nutch-1.6 (searching for translated pages; http://www.linguatools.de/linguatoolsbot.html; peter dot kolb at linguatools dot org)
        Linguee Bot (http://www.linguee.com/bot; bot@linguee.com)
        LinkedInBot/*
        Linknzbot (+ http://www.linknz.co.nz/robot.php)
        LinkWalker
        LinqiaRSSBot/1.0 (eng@linqia.com)
        LinqiaScrapeBot/1.0 (eng@linqia.com)
        Lite Bot 0916b
        LivelapBot/0.2 (http://site.livelap.com/crawler)
        LNSpiderguy
        LocalBot/1.0 (+http://www.localbot.co.uk/)
        LocalcomBot/*
        LogicMonitor SiteMonitor/*
        Look.com
        LookBot
        LumpImageSearch/0.1 (+http://lump.co/about/bot)
        lwp-trivial/1.34
        Lycos_Spider_(modspider)
        Mackster( http://www.ukwizz.com )
        MarkWatch/1.0
        Marvin v0.3
        MaSagool/1.0 (MaSagool; http://sagool.jp/; masagool@sagool.jp)
        MaxPointCrawler/Nutch-1.10 (maxpoint.crawler at maxpointinteractive dot com)
        Mediapartners-Google
        Mediapartners-Google/*
        Mediatoolkitbot (complaints@mediatoolkit.com)
        Mediatoolkitbot (info@mediatoolkit.com)
        Metager2 (http://metager2.de/site/webmaster.php)
        Metaspinner/0.01 (Metaspinner; http://www.meta-spinner.de/; support@meta-spinner.de/)
        mfibot/1.1 (http://www.mfisoft.ru/analyst/; &lt;admin@mfisoft.ru&gt;; en-RU)
        Microsoft URL Control - 5.01.4319
        Mirago-Test-Robot (http://www.miragorobot.com)
        MojeekBot/*
        mozDex/*
        Mozilla/2.0 (compatible; Ask Jeeves/Teoma; +http://sp.ask.com/docs/about/tech_crawling.html)
        Mozilla/2.0 (compatible; AskJeeves/Teoma)
        Mozilla/3.0 (compatible; Indy Library)
        Mozilla/3.0 (INGRID/3.0 MT; webcrawler@NOSPAMexperimental.net; http://aanmelden.ilse.nl/?aanmeld_mode=webhints)
        Mozilla/4.0
        Mozilla/4.0 (ActiveTouristBot;http://www.activetourist.com)
        Mozilla/4.0 (agadine3.0) www.agada.de
        Mozilla/4.0 (cloakBrowser)
        Mozilla/4.0 (CMS Crawler: http://www.cmscrawler.com)
        Mozilla/4.0 (compatible; ChristCrawler.com ChristCrawler@ChristCENTRAL.com)
        Mozilla/4.0 (compatible; grub-client-1.2.1; Crawl your own stuff with http://grub.org)
        Mozilla/4.0 (compatible; MSIE 4.01; MSIECrawler; Windows 95)
        Mozilla/4.0 (compatible; MSIE 4.01; Windows 95; http://www.freefind.com/spider.html )
        Mozilla/4.0 (compatible; MSIE 5.0; Windows 95) VoilaBot BETA 1.2 (http://www.voila.com/)
        Mozilla/4.0 (compatible; MSIE 5.0; Windows NT)
        Mozilla/4.0 (compatible; MSIE 5.0; Windows NT; Girafabot; girafabot at girafa dot com; http://www.girafa.com)
        Mozilla/4.0 (compatible; MSIE 5.0; www.galaxy.com; www.ads-work.com; +http://www.galaxy.com/info/crawler.html)
        Mozilla/4.0 (compatible; MSIE 5.0;NetNose-Crawler 2.0; A New Search Experience: http://www.netnose.com)
        Mozilla/4.0 (compatible; MSIE 5.01; Windows NT 5.0)
        Mozilla/4.0 (compatible; MSIE 5.5; Windows 98; Win 9x 4.90; MSIECrawler)
        Mozilla/4.0 (compatible; MSIE 6.0 compatible; Asterias Crawler v4; +http://www.singingfish.com/help/spider.html; webmaster@singingfish.com); SpiderThread Revision: 1.9
        Mozilla/4.0 (compatible; MSIE 6.0; Googlebot/2.1 (+http://www.googlebot.com/bot.html); .NET CLR 1.0.3705)
        Mozilla/4.0 (compatible; MSIE 6.0; Windows NT 5.1; MSIECrawler)
        Mozilla/4.0 (compatible; MSIE 6.0; Windows NT 5.1; PeoplePal 3.0; MSIECrawler)
        Mozilla/4.0 (compatible; MSIE 6.0; Windows NT 5.1; PrassoSunner 1.00; http://www.prasso.com;)
        Mozilla/4.0 (compatible; MSIE 6.0; Windows NT 5.1; SV1;  http://www.changedetection.com/bot.html )
        Mozilla/4.0 (compatible; MSIE 6.0; Windows NT; MS Search 4.0 Robot)
        Mozilla/4.0 (compatible; MSIE 8.0; Windows NT 6.0 ; Claritybot)
        Mozilla/4.0 (compatible; MSIE 8.0; Windows NT 6.1; GTMProbe 1.0)
        Mozilla/4.0 (compatible; MSIE 9.0; Windows NT 6.1; Trident/4.0; FDM; MSIECrawler; Media Center PC 5.0)
        Mozilla/4.0 (compatible; NaverBot/1.0; http://help.naver.com/delete_main.asp)
        Mozilla/4.0 (compatible; NaverBot/1.0; nhnbot@naver.com)
        Mozilla/4.0 (compatible; T-H-U-N-D-E-R-S-T-O-N-E)
        Mozilla/4.0 (compatible; Vagabondo/2.3; webcrawler at wise-guys dot nl; http://webagent.wise-guys.nl/)
        Mozilla/4.0 (compatible; Vagabondo/4.0; webcrawler at wise-guys dot nl; http://webagent.wise-guys.nl/; http://www.wise-guys.nl/)
        Mozilla/4.0 (fantomBrowser)
        Mozilla/4.0 (fantomCrew Browser)
        Mozilla/4.0 (GeorgeTheTouristBot;http://www.touristlinks.net)
        Mozilla/4.0 (JemmaTheTourist;http://www.activtourist.com robot_txt_error@activtourist.com)
        Mozilla/4.0 (JemmaTheTourist;http://www.activtourist.com)
        Mozilla/4.0 (stealthBrowser)
        Mozilla/4.0 compatible ZyBorg/1.0 (wn.zyborg@looksmart.net; http://www.WISEnutbot.com)
        Mozilla/4.0 compatible ZyBorg/1.0 Dead Link Checker (wn.zyborg@looksmart.net; http://www.WISEnutbot.com)
        Mozilla/4.0(compatible; Zealbot 1.0)
        Mozilla/4.05
        Mozilla/4.05 [en]
        Mozilla/4.7
        Mozilla/4.7 (compatible; http://eidetica.com/spider)
        Mozilla/4.7 (compatible; Intelliseek; http://www.intelliseek.com)
        Mozilla/4.7 [en](BecomeBot'at'exava.com)
        Mozilla/5.0 (Clustered-Search-Bot/1.0; support@clush.com; http://www.clush.com/)
        Mozilla/5.0 (compatible&amp; Googlebot/2.1&amp; +http://www.google.com/bot.html)
        Mozilla/5.0 (compatible) Feedfetcher-Google; (+http://www.google.com/feedfetcher.html)
        Mozilla/5.0 (compatible) Feedfetcher-Google;(+http://www.google.com/feedfetcher.html)
        Mozilla/5.0 (compatible; AdlesseBot/*
        Mozilla/5.0 (compatible; AhrefsBot/*
        Mozilla/5.0 (compatible; aiHitBot/2.9; +https://www.aihitdata.com/about)
        Mozilla/5.0 (compatible; Applebot/0.3; +http://www.apple.com/go/applebot)
        Mozilla/5.0 (compatible; archive.org_bot +http://archive.org/details/archive.org_bot)
        Mozilla/5.0 (compatible; archive.org_bot +http://www.archive.org/details/archive.org_bot)
        Mozilla/5.0 (compatible; archive.org_bot; Wayback Machine Live Record; +http://archive.org/details/archive.org_bot)
        Mozilla/5.0 (compatible; Ask Jeeves/Teoma; +http://about.ask.com/en/docs/about/webmasters.shtml)
        Mozilla/5.0 (compatible; Baiduspider/2.0; +http://www.baidu.com/search/spider.html)
        Mozilla/5.0 (compatible; becomebot/1.23; +http://www.become.com/webmasters.html)
        Mozilla/5.0 (compatible; BecomeBot/2.0.3; +http://www.become.com/webmasters.html)
        Mozilla/5.0 (compatible; becomebot/2.0beta; +http://www.become.com/webmasters.html)
        Mozilla/5.0 (compatible; BecomeBot/2.2.5; MSIE 6.0 compatible; +http://www.become.com/site_owners.html)
        Mozilla/5.0 (compatible; bingbot/2.0; +http://www.bing.com/bingbot.htm)
        Mozilla/5.0 (compatible; BLEXBot/1.0; +http://webmeup-crawler.com/)
        Mozilla/5.0 (compatible; BlogBeatbot/2.1; +http://www.blogbeat.nl/)
        Mozilla/5.0 (compatible; BuzzSumo; +http://www.buzzsumo.com/bot.html)
        Mozilla/5.0 (compatible; CharlieBot; https://charlieapp.com; newsbot@charlieapp.com)
        Mozilla/5.0 (compatible; Charlotte/1.1; http://www.searchme.com/support/)
        Mozilla/5.0 (compatible; Cliqzbot/*
        Mozilla/5.0 (compatible; Dazoobot/1.0; http://dazoo.fr)
        Mozilla/5.0 (compatible; Digincore bot; https://www.digincore.com/crawler.html for rules and instructions.
        Mozilla/5.0 (compatible; DomainSigmaCrawler/0.1; +http://domainsigma.com/robot)
        Mozilla/5.0 (compatible; DotBot/1.1; http://www.opensiteexplorer.org/dotbot, help@moz.com)
        Mozilla/5.0 (compatible; DuckDuckGo-Favicons-Bot/1.0; +http://duckduckgo.com)
        Mozilla/5.0 (compatible; etoolsbot/1.0; +https://etools.io/bots/)
        Mozilla/5.0 (compatible; EveryoneSocialBot/1.0; support@everyonesocial.com http://everyonesocial.com/)
        Mozilla/5.0 (compatible; Exabot/3.0; +http://www.exabot.com/go/robot)
        Mozilla/5.0 (compatible; ExpertSearchSpider +http://www.expertsearch.nl/spider)
        Mozilla/5.0 (compatible; Findxbot/1.0; +http://www.findxbot.com)
        Mozilla/5.0 (compatible; Gluten Free Crawler/1.0; +http://glutenfreepleasure.com/)
        Mozilla/5.0 (compatible; Googlebot/*
        Mozilla/5.0 (compatible; GrapeshotCrawler/2.0; +http://www.grapeshot.co.uk/crawler.php)
        Mozilla/5.0 (compatible; hypestat/1.0; +http://www.hypestat.com/bot)
        Mozilla/5.0 (compatible; IDBot/1.1; +http://www.id-search.xyz/bot.html)
        Mozilla/5.0 (compatible; idmarch Automatic.beta/1.1; +http://www.idmarch.org/bot.html)
        Mozilla/5.0 (compatible; inoreader.com-like FeedFetcher-Google)
        Mozilla/5.0 (compatible; Jooblebot/*
        Mozilla/5.0 (compatible; Konqueror/3.4; Linux) KHTML/3.4.1 (like Gecko)
        Mozilla/5.0 (compatible; Kraken/0.1; http://linkfluence.net/; bot@linkfluence.net)
        Mozilla/5.0 (compatible; linkdexbot/*
        Mozilla/5.0 (compatible; LinkosmosBot; +http://www.linkosmos.com/bot)
        Mozilla/5.0 (compatible; Linux x86_64; Mail.RU_Bot/2.0; +http://go.mail.ru/help/robots)
        Mozilla/5.0 (compatible; Linux x86_64; Mail.RU_Bot/Robots/2.0; +http://go.mail.ru/help/robots)
        Mozilla/5.0 (compatible; ltbot/0.3.6 +http://www.kdsl.tu-darmstadt.de/de/kdsl/research-program/crawling-and-semantic-structuring/)
        Mozilla/5.0 (compatible; meanpathbot/1.0; +http://www.meanpath.com/meanpathbot.html)
        Mozilla/5.0 (compatible; MegaIndex.ru/2.0; +http://megaindex.com/crawler)
        Mozilla/5.0 (compatible; MixrankBot; crawler@mixrank.com)
        Mozilla/5.0 (compatible; MJ12bot/*
        Mozilla/5.0 (compatible; MojeekBot/2.0; http://www.mojeek.com/bot.html)
        Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; WOW64; Trident/6.0) CrawlerProcess (http://www.PowerMapper.com) /5.20.750.0
        Mozilla/5.0 (compatible; MSIE 9.0; Windows NT 6.1; abot v1.2.3.1 http://code.google.com/p/abot)
        Mozilla/5.0 (compatible; MSIE 9.0; Windows NT 6.1; Trident/5.0); 360Spider
        Mozilla/5.0 (compatible; MSIE 9.0; Windows NT 6.1; Trident/5.0); 360Spider(compatible; HaosouSpider; http://www.haosou.com/help/help_3_2.html)
        Mozilla/5.0 (compatible; Najdi.si/3.1)
        Mozilla/5.0 (compatible; NetSeer crawler/2.0; +http://www.netseer.com/crawler.html; crawler@netseer.com)
        Mozilla/5.0 (compatible; NewShareCounts.com/1.0; +http://newsharecounts.com/crawler)
        Mozilla/5.0 (compatible; oBot/2.3.1; +http://filterdb.iss.net/crawler/)
        Mozilla/5.0 (compatible; oBot/2.3.1; http://filterdb.iss.net/crawler/)
        Mozilla/5.0 (compatible; OnetSzukaj/5.0; +http://szukaj.onet.pl)
        Mozilla/5.0 (compatible; online-webceo-bot/1.0; +http://online.webceo.com)
        Mozilla/5.0 (compatible; OpenHoseBot/2.1; +http://www.openhose.org/bot.html)
        Mozilla/5.0 (compatible; OrangeBot/2.0; support.orangebot@orange.com)
        Mozilla/5.0 (compatible; Page2RSS/0.5; +http://page2rss.com/)
        Mozilla/5.0 (compatible; PaperLiBot/2.1; http://support.paper.li/entries/20023257-what-is-paper-li)
        Mozilla/5.0 (compatible; Plukkie/1.6; http://www.botje.com/plukkie.htm)
        Mozilla/5.0 (compatible; pmoz.info ODP link checker; +http://pmoz.info/doc/botinfo.htm)
        Mozilla/5.0 (compatible; Prezibot/1.0; +https://prezi.com)
        Mozilla/5.0 (compatible; proximic; +http://www.proximic.com/info/spider.php)
        Mozilla/5.0 (compatible; PRTG Network Monitor (www.paessler.com); Windows)
        Mozilla/5.0 (compatible; RSSMicro.com RSS/Atom Feed Robot)
        Mozilla/5.0 (compatible; RukiCrawler/1.0; +http://ruki.rezko.net)
        Mozilla/5.0 (compatible; SearchmetricsBot; http://www.searchmetrics.com/en/searchmetrics-bot/)
        Mozilla/5.0 (compatible; SemrushBot/1~bl; +http://www.semrush.com/bot.html)
        Mozilla/5.0 (compatible; SemrushBot-SI/0.97; +http://www.semrush.com/bot.html)
        Mozilla/5.0 (compatible; seo-audit-check-bot/1.0)
        Mozilla/5.0 (compatible; seoscanners.net/1; +spider@seoscanners.net)
        Mozilla/5.0 (compatible; SEOdiver/1.0; +http://www.seodiver.com/bot)
        Mozilla/5.0 (compatible; SEOkicks-Robot; +http://www.seokicks.de/robot.html)
        Mozilla/5.0 (compatible; seplinkbot/1.0 )
        Mozilla/5.0 (compatible; SeznamBot/*
        Mozilla/5.0 (compatible; spbot/*
        Mozilla/5.0 (compatible; special_archiver/3.1.1 +http://www.archive.org/details/archive.org_bot)
        Mozilla/5.0 (compatible; SputnikImageBot/2.3; +http://corp.sputnik.ru/webmaster)
        Mozilla/5.0 (compatible; SurdotlyBot/1.0; +http://sur.ly/bot.html)
        Mozilla/5.0 (compatible; trovitBot 1.0; +http://www.trovit.com/bot.html)
        Mozilla/5.0 (compatible; TwitterCrawler)
        Mozilla/5.0 (compatible; TWMBot/*
        Mozilla/5.0 (compatible; uMBot-FC/1.0; mailto: crawling@ubermetrics-technologies.com)
        Mozilla/5.0 (compatible; Uptimebot/1.0; +http://www.uptime.com/uptimebot)
        Mozilla/5.0 (compatible; Vagabondo/2.1; webcrawler at wise-guys dot nl; http://webagent.wise-guys.nl/)
        Mozilla/5.0 (compatible; WAPT Pro; Windows)
        Mozilla/5.0+(compatible;+Wopabot/0.1;++https://www.wopa.fr/)
        Mozilla/5.0 (compatible; worldwebheritage.org/1.1; +crawl@worldwebheritage.org)
        Mozilla/5.0 (compatible; XoviBot/2.0; +http://www.xovibot.net/)
        Mozilla/5.0 (compatible; Yahoo Ad monitoring; https://help.yahoo.com/kb/yahoo-ad-monitoring-SLN24857.html)
        Mozilla/5.0 (compatible; Yahoo! DE Slurp; http://help.yahoo.com/help/us/ysearch/slurp)
        Mozilla/5.0 (compatible; Yahoo! Slurp China; http://misc.yahoo.com.cn/help.html)
        Mozilla/5.0 (compatible; Yahoo! Slurp/3.0; http://help.yahoo.com/help/us/ysearch/slurp)
        Mozilla/5.0 (compatible; Yahoo! Slurp; http://help.yahoo.com/help/us/ysearch/slurp)
        Mozilla/5.0 (compatible; YandexBot/3.0; +http://yandex.com/bots)
        Mozilla/5.0 (compatible; YandexImageResizer/2.0; +http://yandex.com/bots)
        Mozilla/5.0 (compatible; YandexImages/3.0; +http://yandex.com/bots)
        Mozilla/5.0 (compatible; YandexMetrika/2.0; +http://yandex.com/bots)
        Mozilla/5.0 (compatible; Yeti/1.1; +http://help.naver.com/robots/)
        Mozilla/5.0 (compatible; yoozBot-2.2; http://yooz.ir; info@yooz.ir)
        Mozilla/5.0 (compatible; YoudaoBot/1.0; http://www.youdao.com/help/webmaster/spider/; )
        Mozilla/5.0 (compatible; zitebot support [at] zite [dot] com +http://zite.com)
        Mozilla/5.0 (compatible;WI Job Roboter Spider Version 3;+http://www.webintegration.at)
        Mozilla/5.0 (iPhone; CPU iPhone OS 6_0 like Mac OS X) AppleWebKit/536.26 (KHTML, like Gecko) Version/6.0 Mobile/10A5376e Safari/8536.25 (compatible; SMTBot/1.0; +http://www.similartech.com/smtbot)
        Mozilla/5.0 (iPhone; CPU iPhone OS 7_0 like Mac OS X) AppleWebKit/537.51.1 (KHTML, like Gecko) Version/7.0 Mobile/11A465 Safari/9537.53 (compatible; bingbot/2.0; +http://www.bing.com/bingbot.htm)
        Mozilla/5.0 (iPhone; CPU iPhone OS 7_0 like Mac OS X) AppleWebKit/537.51.1 (KHTML, like Gecko) Version/7.0 Mobile/11A465 Safari/9537.53 (compatible; bingbot/2.0; http://www.bing.com/bingbot.htm)
        Mozilla/5.0 (iPhone; CPU iPhone OS 8_1 like Mac OS X) AppleWebKit/600.1.4 (KHTML, like Gecko) Version/8.0 Mobile/12B410 Safari/600.1.4 (Applebot/0.1; +http://www.apple.com/go/applebot)
        Mozilla/5.0 (iPhone; CPU iPhone OS 8_3 like Mac OS X) AppleWebKit/537.36 (KHTML, like Gecko) Version/8.0 Mobile/12F70 Safari/600.1.4 (compatible; Googlebot/2.1; +http://www.google.com/bot.html)
        Mozilla/5.0 (iPhone; CPU iPhone OS 8_3 like Mac OS X) AppleWebKit/600.1.4 (KHTML, like Gecko) Version/8.0 Mobile/12F70 Safari/600.1.4 (compatible; Googlebot/2.1; +http://www.google.com/bot.html)
        Mozilla/5.0 (iPhone; CPU iPhone OS 8_3 like Mac OS X) AppleWebKit/600.1.4 (KHTML, like Gecko) Version/8.0 Mobile/12F70 Safari/600.1.4 (compatible; Googlebot/2.1; +http://www.google.com/bot.html),
        Mozilla/5.0 (iPhone; CPU iPhone OS 9_1 like Mac OS X) AppleWebKit/601.1.46 (KHTML, like Gecko) Version/9.0 Mobile/13B143 Safari/601.1 (compatible; AdsBot-Google-Mobile; +http://www.google.com/mobile/adsbot.html)
        Mozilla/5.0 (Linux; Android 4.0.4; Galaxy Nexus Build/IMM76B) AppleWebKit/535.19 (KHTML, like Gecko) Chrome/18.0.1025.133 Mobile Safari/535.19 (compatible; Googlebot/2.1; +http://www.google.com/bot.html)
        Mozilla/5.0 (Linux; Android 6.0.1; Nexus 5X Build/MMB29P) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/47.0.2526.83 Mobile Safari/537.36 (compatible; Googlebot/2.1; +http://www.google.com/bot.html)
        Mozilla/5.0 (Linux; Android 6.0.1; Nexus 5X Build/MMB29P) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/41.0.2272.96 Mobile Safari/537.36 (compatible; Googlebot/2.1; +http://www.google.com/bot.html)
        Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_1) AppleWebKit/600.2.5 (KHTML, like Gecko) Version/8.0.2 Safari/600.2.5 (Applebot/0.1)
        Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_1) AppleWebKit/600.2.5 (KHTML, like Gecko) Version/8.0.2 Safari/600.2.5 (Applebot/0.1; +http://www.apple.com/go/applebot)
        Mozilla/5.0 (PubecoSpider/1.1) Gecko/20100101 Firefox/31.0
        Mozilla/5.0 (Slurp/cat; slurp@inktomi.com; http://www.inktomi.com/slurp.html)
        Mozilla/5.0 (TweetmemeBot/4.0; +http://datasift.com/bot.html) Gecko/20100101 Firefox/31.0
        Mozilla/5.0 (Windows NT 6.1) (compatible; SMTBot/1.0; +http://www.similartech.com/smtbot)
        Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.1 (KHTML, like Gecko) Chrome/21.0.1180.89 Safari/537.1; 360Spider(compatible; HaosouSpider; http://www.haosou.com/help/help_3_2.html)
        Mozilla/5.0 (Windows NT 6.1; rv:38.0) Gecko/20100101 Firefox/38.0 (IndeedBot 1.1)
        Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/534+ (KHTML, like Gecko) MsnBot-Media /1.0b
        Mozilla/5.0 (Windows NT 6.2; WOW64) AppleWebKit/538.1 (KHTML, like Gecko) PhantomJS/2.1.1 Safari/538.1
        Mozilla/5.0 (Windows NT 6.3;compatible; Leikibot/1.0; +http://www.leiki.com)
        Mozilla/5.0 (Windows; U; Windows NT 5.1; en; rv:1.9.0.13) Gecko/2009073022 Firefox/3.5.2 (.NET CLR 3.5.30729) SurveyBot/2.3 (DomainTools)
        Mozilla/5.0 (Windows; U; Windows NT 5.1; en-US; rv:1.8.1.6) Gecko/20070725 Firefox/2.0.0.6 - James BOT - WebCrawler http://cognitiveseo.com/bot.html
        Mozilla/5.0 (Windows; U; Windows NT 5.1; en-US; rv:1.9) Gecko/2008052906 Firefox/3.0 (BrowserSpyBot/1.0) (http://browserspy.dk/)
        Mozilla/5.0 (Windows; U; Windows NT 5.1; en-US) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/27.0.1453.116 Safari/537.36 HubSpot Webcrawler - web-crawlers@hubspot.com
        Mozilla/5.0 (Windows; U; Windows NT 6.0; en-GB; rv:1.0; trendictionbot0.5.0; trendiction search; http://www.trendiction.de/bot; please let us know of any problems; web at trendiction.com) Gecko/20071127 Firefox/3.0.0.11
        Mozilla/5.0 (X11; Linux i686; rv:6.0) Gecko/20100101 Firefox/6.0 (Freshbot/1.0/EU; http://webagent.wise-guys.nl/)
        Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/48.0.2564.97 Safari/537.36 (0xFF Domain Crawler +info@0xff.org)
        Mozilla/5.0 (X11; U; Linux Core i7-4980HQ; de; rv:32.0; compatible; JobboerseBot; https://www.jobboerse.com/bot.htm) Gecko/20100101 Firefox/38.0
        Mozilla/5.0 AppleWebKit/537.36 (KHTML, like Gecko; compatible; Googlebot/2.1; +http://www.google.com/bot.html) Safari/537.36
        Mozilla/5.0 AppleWebKit/537.36 (KHTML, like Gecko; Google Web Preview Analytics) Chrome/27.0.1453 Safari/537.36 (compatible; Googlebot/2.1; +http://www.google.com/bot.html)
        Mozilla/5.0 wgao@genieknows.com
        Mozilla/5.0+(compatible; UptimeRobot/2.0; http://www.uptimerobot.com/)
        MSIE (MSIE 5.23; Mac_PowerPC)
        MSIE 6.0
        MSNBOT/0.1 (http://search.msn.com/msnbot.htm)
        msnbot/*
        msnbot-media/*
        msnbot-Products/*
        multiBlocker browser
        multiBlocker browser - IP blocker for Spam, Fraud + Snoop Protection
        My Nutch Spider/Nutch-1.11
        NAMEPROTECT
        NaverBot-1.0 (NHN Corp. / +82-2-3011-1954 / nhnbot@naver.com)
        NerdyBot
        netEstate NE Crawler (+http://www.website-datenbank.de/)
        NetMechanic V2.0
        NetResearchServer(http://www.look.com)
        NetWhatCrawler/0.06-dev (NetWhatCrawler from NetWhat.com; http://www.netwhat.com; support@netwhat.com)
        NewsBlur Favicon Fetcher - 2 subscribers - http://www.newsblur.com/site/3796/the-weblog (Mozilla/5.0 (Macintosh; Intel Mac OS X 10_7_1) AppleWebKit/534.48.3 (KHTML, like Gecko) Version/5.1 Safari/534.48.3)
        NewsBlur Page Fetcher - 2 subscribers - http://www.newsblur.com/site/3796/the-weblog (Mozilla/5.0 (Macintosh; Intel Mac OS X 10_7_1) AppleWebKit/534.48.3 (KHTML, like Gecko) Version/5.1 Safari/534.48.3)
        NextGenSearchBot 1 (for information visit http://about.zoominfo.com/PublicSite/NextGenSearchBot.asp)
        NextGenSearchBot 1 (for information visit http://www.eliyon.com/NextGenSearchBot)
        NG/2.0
        NG-Search/0.90 (NG-SearchBot; http://www.ng-search.com; )
        nic.it crawler v.1.221115 (7.35.0)
        NMG Spider/0.3 (szukanko.com)
        NokodoBot/1.2 (+http://nokodo.com/bot.htm)
        Norbert the Spider(Burf.com)
        noxtrumbot/1.0 (crawler@noxtrum.com)
        NPBot-1/2.0 (http://www.nameprotect.com/botinfo.html)
        Nr1-Onlinebot (Version: 1.02, powered by www.nr1-online.de)
        NuSearch Spider www.nusearch.com
        Nutch
        Nutch/0.7 (igougocrawler; http://www.igougo.com/search/web.asp; nutch-agent@lucene.apache.org)
        NutchCVS/*
        ObjectsSearch/*
        Ocelli/*
        OmniExplorer_Bot/*
        Onet.pl SA, http://szukaj.onet.pl
        Openbot/3.0+(robot-response@openfind.com.tw;+http://www.openfind.com.tw/robot.html)
        Opendi Screenshot Bot bot@opendi.com
        Openfind data gatherer,Openbot/3.0+(robot-response@openfind.com.tw;+http://www.openfind.com.tw/robot.html)
        Orbiter (+http://www.dailyorbit.com/bot.htm)
        Orbiter/T-2.0 (+http://www.dailyorbit.com/bot.htm)
        ozilla/4.7 (compatible; Whizbang)
        Panopta v1.1
        PEERbot www.peerbot.com
        Phantom.js bot
        PHPCrawl
        PicaLoader 1.0
        Pingdom.com_bot_version_1.4_(http://www.pingdom.com/)
        Pinterest/0.2 (+http://www.pinterest.com/)
        pipeLiner/0.10 (PipeLine Spider; http://www.pipeline-search.com/webmaster.html)
        Pompos/1.3 http://dir.com/pompos.html
        pon/Nutch-1.10 (PON crawler for better business intelligence)
        Pop.gr/6.1 Arachne(compatible; MSIE 6.0; Windows 98; Corus)
        ProloCrawler/1.0 (http://www.prolo.com)
        psbot/0.1 (+http://www.picsearch.com/bot.html)
        QCrawl
        QuepasaCreep ( crawler@quepasacorp.com )
        QuerySeekerSpider ( http://queryseeker.com/bot.html )
        QweeryBot v2.05 -- http://qweerybot.qweery.com
        QweeryBot/2.06 ( http://qweerybot.qweery.com)
        Reaper [2.03.10-031204] (http://www.sitesearch.ca/reaper/)
        RedCarpet/1.2 (http://www.redcarpet-inc.com/robots.html)
        RedKernel WWW-Spider 2/0 (+http://www-spider.redkernel-softwares.com/)
        RoboCrawl (www.canadiancontent.net)
        roboto
        Robozilla/1.0
        rogerbot/1.0 (http://moz.com/help/pro/what-is-rogerbot-, rogerbot-crawler+shiny@moz.com)
        rogerbot/1.1 (http://moz.com/help/guides/search-overview/crawl-diagnostics#more-help, rogerbot-crawler+pr4-crawler-35@moz.com)
        RPT-HTTPClient/0.3-3
        RufusBot (Rufus Web Miner; http://64.124.122.252/feedback.html)
        SafeDNS search bot/Nutch-1.9 (https://www.safedns.com/searchbot; support [at] safedns [dot] com)
        SafeDNSBot (https://www.safedns.com/searchbot)
        SafeSearch microdata crawler (https://safesearch.avira.com, safesearch-abuse@avira.com)
        SAMSUNG-SGH-E250/1.0 Profile/MIDP-2.0 Configuration/CLDC-1.1 UP.Browser/6.2.3.3.c.1.101 (GUI) MMP/2.0 (compatible; Googlebot-Mobile/2.1; +http://www.google.com/bot.html)
        SBL-BOT (http://sbl.net)
        ScollSpider/2.0 (+http://www.webwobot.com/ScollSpider.php)
        Scooter/3.3
        Scooter/3.3Y!CrawlX
        ScoutAbout
        Screaming Frog SEO Spider/*
        Scrubby/2.1 (http://www.scrubtheweb.com/abs/meta-check.html)
        Scrubby/2.2 (http://www.scrubtheweb.com/)
        search.ch V1.4.2 (http://www.search.ch)
        search.ch V1.4.2 (spiderman@search.ch; http://www.search.ch)
        search.updated.com/0.06 (search.updated.com; http://www.updated.com/docucmentation/bot.html; crawler@updated.com)
        SearchIt.Bot 1.62 (http://www.searchit.com/)
        SearchIt-Bot/2.3.1 (Searchit.Com; http://www.searchit.com/; )
        Searchmee! Spider v0.98a
        SearchSight/2.0 (http://SearchSight.com/)
        Searchspider/1.2 (SearchSpider; http://www.searchspider.com; webmaster@searchspider.com)
        searchuk.comBot 1.1 (http://searchuk.com/spider)
        searchuk.comBot 1.2 (http://searchuk.com/spider)
        Seekbot/*
        Seeker.lookseek.com
        SeekOn Spider 1.9(+http://www.seekon.com/spider.html)
        Semager/1.0 (http://www.semager.de)
        semanticbot
        semanticdiscovery/0.2(http://www.semanticdiscovery.com/sd/robot.html)
        semanticdiscovery/0.4(http://www.semanticdiscovery.com/sd/robot.html
        Sensis Web Crawler (search_comments\at\sensis\dot\com\dot\au)
        Sensis.com.au Web Crawler (search_comments\at\sensis\dot\com\dot\au)
        SeznamBot/1.0 (+http://fulltext.seznam.cz/)
        ShopWiki/1.0 ( +http://www.shopwiki.com/wiki/Help:Bot)
        ShowyouBot (http://showyou.com/crawler)
        SiteAnalyzerBot
        sitecheck.internetseer.com
        SitiDi.net/SitiDiBot/1.0 (+Have Good Day)
        Slackbot-LinkExpanding 1.0 (+https://api.slack.com/robots)
        slurp
        SlySearch
        SMEALSearch-Bot
        snap.com beta crawler v0
        Snapbot/1.0
        sogou spider
        Sogou web spider/4.0(+http://www.sogou.com/docs/help/webmasters.htm#07)
        sohu agent
        sohu-search
        spectron-crawler/v1 (http://www.bisnode.be; brsc@bisnode.be)
        Speedy Spider (Beta/1.0; speedy@entireweb.com)
        Speedy Spider (Entireweb; Beta/1.0; http://www.entireweb.com/about/search_tech/speedyspider/)
        Speedy Spider (http://www.entireweb.com)
        Speedy Spider (http://www.entireweb.com/about/search_tech/speedy_spider/)
        Speedy_Spider (http://www.entireweb.com)
        SpeedySpider - http://www.entireweb.com
        Spider_Monkey/7.06 (SpiderMonkey.ca info at http://SpiderMonkey.ca /sm.shtml)
        spiderbot
        SpotBot v3.0/2015 (Innovatiespotter - crawler)
        sproose/0.1 (sproose bot; http://www.sproose.com/bot.html; crawler@sproose.com)
        sproose/0.1-alpha (sproose crawler; http://www.sproose.com/bot.html; crawler@sproose.com)
        SquigglebotBot/1.0 http://squigglebot.com
        Sqworm/2.9.72-BETA (beta_release; 20010821-737; i686-pc-linux-gnu)
        SSL Labs (https://www.ssllabs.com/about/assessment.html)
        StackRambler/2.0 (MSIE incompatible)
        Szukacz/1.5 (robot; www.szukacz.pl/jakdzialarobot.html; info@szukacz.pl)
        Tango/04 Web ThinAgent
        TECOMAC-Crawler/0.3
        TelegramBot (like TwitterBot)
        Teleport Pro/1.28
        teoma_agent1
        TerrawizBot/1.0 (+http://www.terrawiz.com/bot.html)
        Test Spider 0.2
        T-H-U-N-D-E-R-S-T-O-N-E
        tigerbot
        TinEye-bot/0.51 (see http://www.tineye.com/crawler.html)
        tivraSpider/1.0 (crawler@tivra.com)
        Tools4noobs.com/1.0 Spider
        trovitbot
        TurnitinBot/1.4 http://www.turnitin.com/robot/crawlerinfo.html
        Twitterbot/1.0
        TygoBot
        TygoProwler (http://www.tygo.com/)
        UbiCrawler/v0.3beta (http://ubi.imc.pi.cnr.it/projects/ubicrawler/)
        uipbot/1.0 (uipbot@semasio.net)
        uk-Searcher(HTTP://WWW.UK-SEARCHER.CO.UK)
        uksearchpages.co.uk
        UKWizz/Nutch-0.8.1 (UKWizz Nutch crawler; http://www.ukwizz.com/)
        updated/0.1-alpha (updated crawler; http://www.updated.com; crawler@updated.com)
        updated/0.1beta (updated.com; http://www.updated.com; crawler@updated.com)
        vebidoobot
        VeBot (+http://www.veinteractive.com/vebot)
        VegeBot (we follow your robots.txt settings before crawling, you can slow down the bot by change the Crawl-Delay parameter in the settings.if you have an enquiry, please email to: abuse-report@terrykyleseoagency.com)
        VisBot/2.0+(Visvo.com+Crawler)
        VMBot/0.7.2 (VMBot; http://www.VerticalMatch.com/; vmbot@tradedot.com)
        voyager/1.0
        Webclipping.com
        webcrawl.net
        WebFilter Robot 1.0
        WebGather 3.0
        WebIndexer/1-dev (Web Indexer; mailto://webindexerv1@yahoo.com; webindexerv1@yahoo.com)
        webrank
        webrover/0.1 (+http://www.webrover.de)
        WebSearch.COM.AU/3.0.1 (The Australian Search Engine; http://WebSearch.COM.AU; Search@WebSearch.COM.AU)
        websquash.com ( Add Url Robot )
        WebZIP/4.0 (http://www.spidersoft.com)
        WebZIP/x.x (http://www.spidersoft.com)
        WeSEE_Bot:we_help_monitize_your_site (http://www.wesee.com/bot/)
        WhatchaBot10 (http://www.whatchaseek.com)
        Who.is Bot
        WireBot/1.0 (SearchWire.co.uk)
        wonderbot/JS 1.0
        woobot*
        WordChampBot
        WorldLight
        Wotbox/2.01 (+http://www.wotbox.com/bot/)
        Wotbox/alpha0.5.1 (bot@wotbox.com; http://www.wotbox.com) Java/1.4.1_02
        www.proodle.com
        WWWeasel Robot v1.00 (http://wwweasel.de)
        wwwster/1.4 (Beta, mailto:gue@cis.uni-muenchen.de)
        Xaldon WebSpider
        X-Crawler
        Xenu Link Sleuth/1.3.8
        xirq/0.1-dev (xirq; http://www.xirq.com; xirq@xirq.com)
        Y!J-ASR/0.1 crawler (http://www.yahoo-help.jp/app/answers/detail/p/595/a_id/42716/)
        Y!J-BSC/1.0 (http://help.yahoo.co.jp/help/jp/blog-search/)
        yacybot*
        YadowsCrawler (http://www.yadows.com)
        Yahoo! Mindset
        Yahoo-Blogs/v3.9 (compatible; Mozilla 4.0; MSIE 5.5; http://help.yahoo.com/help/us/ysearch/crawling/crawling-02.html )
        YahooCacheSystem; YahooWebServiceClient
        YahooFeedSeeker/1.0 (compatible; Mozilla 4.0; MSIE 5.5; my.yahoo.com/s/publishers.html)
        Yahoo-MMAudVid/1.0 (mms dash mmaudvidcrawler dash support at yahoo dash inc dot com)
        Yahoo-MMCrawler/3.x (mms dash mmcrawler dash support at yahoo dash inc dot com)
        YahooSeeker/*
        YahooSeeker-Testing/v3.9 (compatible; Mozilla 4.0; MSIE 5.5; http://search.yahoo.com/)
        YahooVideoSearch www.yahoo.com/
        YahooYSMcm/2.0.0
        Yandex/*
        Yanga WorldSearch Bot v1.1/beta (http://www.yanga.co.uk/)
        Yeti/*
        YodaoBot/1.0 (http://www.yodao.com/help/webmaster/spider/; )
        Zabbix
        Zao/*
        Zao-Crawler
        Zeus 60359 Webster Pro V2.9 Win32
        zibber-v0.1(www.zibb.com/crawler/)
        ZipppBot/0.11 (ZipppBot; http://www.zippp.net; webmaster@zippp.net)
        ZIPPPCVS/0.24 (ZipppBot/.24; http://www.zippp.net; webmaster@zippp.net)
      </excludedUserAgents>
      <!--List of ip addresses of search engines. Requests from following addresses will be ignored by Analytics.
    Supported values and formates:
    IP address, e.g. 10.2.3.4;
    IP range, e.g. 10.1.2.3 - 10.1.2.30;
    Subnet, e.g. 10.2.3.*
    Use # for comments
    See http://iplists.com/ for updates
    -->
      <excludedIPAddresses>
      </excludedIPAddresses>
    </analyticsExcludeRobots>
  </sitecore>
</configuration>