<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <excludeRobots>
        <processor patch:instead="*[@type='Sitecore.Analytics.Pipelines.ExcludeRobots.CheckUserAgent, Sitecore.Analytics']" type="TheReference.DotNet.Sitecore.ExcludeRobots.Pipelines.CheckUserAgentWithWildcard, TheReference.DotNet.Sitecore.ExcludeRobots"/>
      </excludeRobots>
    </pipelines>
  </sitecore>
</configuration>